<!DOCTYPE html>
<html>

<head>
	<title>Chatbot</title>
	<link rel="icon" href="static/bot.png" />
	<link rel="stylesheet" href="static/styles.css" />
</head>

<body>
	<div id="container" class="container">
		<div id="chat" class="chat">
			<h1 class="chat-title">Ruby,Your Trip Planning Bot🤖</h1>
			<div id="messages" class="messages"></div>
			<input id="input" type="text" placeholder="Ask anything to explore coimbatoree!!!" autocomplete="off" autofocus="true" />
		</div>
		<img src="static/bot.png" alt="Robot cartoon" height="500vh">
	</div>

    <script type="text/javascript" src="static/index.js"></script>



<script type="text/javascript" src="static/speech.js" ></script>
</body>
</html>